.vscode
build
models/opt/logs_opt-1.3b
ops/cpp/RyzenAI.egg-info
ops/cpp/build
**/__pycache__
*/*/__pycache__
*/*/*/__pycache__
models/opt/__pycache__/
models/opt/logs*
models/opt/quantized_opt*.pth
models/opt/weights_opt*
models/llama2/__pycache__/
models/llama2/logs*
models/llama2/quantized_opt*.pth
models/llama2/weights_opt*
tests/python/__pycache__
tests/python/logs
ops/torch_cpp/*.egg-info
